<!--<form [formGroup]="angForm"  novalidate>
    <div class="form-group" style="margin-top: 100px;">
        <label for="name" style="font-size: 30px;">Name : </label>
        <input required class="form-control" #name type="text" id="name" formControlName="name"  style="margin-left: 5px;">
    </div>
    
    <div class="row justify-content-center justify-content-center" style="margin-top: 20px;">
        <label for="gender" style="font-size: 30px;">Gender : </label>
        <input required #gender type="text" id="gender" name="gender" style="margin-left: 5px;">
    </div>
    <div class="row justify-content-center" style="margin-top: 10px;">
        <button  (click)="onSubmit(name.value, gender.value)">
            Submit
        </button>
    </div>
    </form>-->
    <form [formGroup]="jesucristo" (ngSubmit)="submit()">
        Nombre:<input #name formControlName="name" name="name" id="name" type="text" placeholder="Name" required><br>
        <input #gender formControlName="gender" id="gender" name="gender" type="text" placeholder="Gender" required>
        <button  (click)="onSubmit(name.value, gender.value)">
            Submit
        </button>
    </form>
    