<div class="row justify-content-center justify-content-center" style="margin-top: 100px;">
    <label for="name" style="font-size: 30px;">Name : </label>
    <input #name type="text" id="name" name="name" style="margin-left: 5px;">
</div>
<div class="row justify-content-center justify-content-center" style="margin-top: 20px;">
    <label for="gender" style="font-size: 30px;">Gender : </label>
    <input #gender type="text" id="gender" name="gender" style="margin-left: 5px;">
</div>
<div class="row justify-content-center" style="margin-top: 10px;">
    <button (click)="onSubmit(name.value, gender.value)">
        Submit
    </button>
</div>

